<form action="/login" method="post">
    <h2>Login</h2>
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Username" value="{{obj.username}}">
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Password" value="{{obj.password}}">
    </div>

    <button class="btn" type="submit">Login</button>
</form>
