{{>info}}
<section>
    <div class="theaters-container">
        <h1>Best Rated Plays</h1>
        {{#if plays}}
            {{#each plays}}
                <div>
                    <div class="home-image">
                        <img src="{{imageURL}}"
                             alt="Card image cap" width="400">
                    </div>
                    <div class="info">
                        <h4>{{title}}</h4>
                    </div>
                </div>
            {{/each}}
        {{else}}
            <h4>No plays yet...</h4>
        {{/if}}
    </div>
</section>
