<div class="py-5">
    <div class="container">
        <img style="display: block; max-width: 300px; margin: 30px auto 0;"
             src="/images/sad-face.png" alt="sad-face"/>
        <h1 style="width: 100%; text-align: center; font-weight: bold;">404</h1>
        <h2 style="width: 100%; text-align: center; text-decoration: underline;">NOT FOUND</h2>
    </div>
</div>
