<header class="jumbotron my-4">
    <h1 class="display-3">Welcome ShareTrippers!</h1>
    <p class="lead">SharedTripp is the best way to road across the country. <br> Find yours SharedTripp's
        buddies, when you share with us yours tripp plans and let the exploration begin!</p>
    <a href="/offer" class="btn btn-primary btn-lg">Offer Tripp!</a>
</header>
