<img id="sadFaceImg"
     src="/images/sad-face.png"
     class="errorImg"
     alt="sad face"/>
<div class="errorText error">
    <h1>Error 404</h1>
    <p>Sorry, page <b>{{url}}</b> is not found,</p>
    <p>Return to our <a href="/">home page</a></p>
</div>
